.container {
    display: inline-block;
    cursor: pointer;
    margin-top: 50px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 50px;
    height: 3px;
    background-color: white;
    margin: 10px 100px;
  }
  
.header {
    background-image: url("assets3/backgrounds/landing.jpg");
    background-repeat: no-repeat;
}
#logo{
 padding-left: 40%;
}
.text1{
    text-align: center;
    color: white;
    font-size: xx-large;
    padding-bottom: 10%;
}
#main {
    
    display: flex;
    align-items: stretch;
    position: relative;

  }
  
  #main div{
      margin: 0;
      margin-left: 0;
      margin-top: 0px;

    
      

    
  }
  #main .text2{
      margin-top: -15px;
      margin-bottom: -17px;
      
      
      
      
  }
  #main .text2 .time{
      background-color: lightgrey;
      padding-right: 240px;
      padding-bottom: 52px;
      color: solid black;
      
     
    
  }
  #main .text2 .hour{
      background-color: #F15A29;
      padding-right: 240px;
      padding-bottom: 52px;
      padding-top: 1px;
      color: white;
      
  }

  
  #main .text3{
      background-image: url("assets3/foodtop/breakfast.jpg");
      background-repeat: no-repeat;
      padding: 145px;
      color: white;
      font-style: italic;
      
      
  }
  #main .text4{
      background-image: url("assets3/foodtop/lunch.jpg");
      background-repeat: no-repeat;
      padding: 145px;
      color: white;
      font-style: italic;
      
  }

#main .text5{
    background-image: url("assets3/foodtop/dinner.jpg");
    background-repeat: no-repeat;
    padding: 145px;
    color: white;
    font-style: italic;
}
#fastfood .images{
    display: inline-block;
    margin-left: 200px;
}

#fastfood .fast {
    margin-top: -400px;
    margin-left: 800px;
}


.contact {
    background-image: url("assets3/backgrounds/subscribe.jpg");
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

#footer {
    background-color: #F15A29;
    text-align: center;
    color: white;
    font-weight: bold;
}